body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.page-layout{
    display: flex;
    height: 100vh;
}
.left-side{
    width: 35%;
    background-image: url('/images/bckground-img-signup.jpg');  
    background-size: cover;
    background-position: center;
}

.right-side{
    width: 65%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #ebe9e9;
}

.signup-form{
    background: rgba(255, 255, 255, 0.976);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.25);
    width:300px;
    display:flex;
    flex-direction: column;
    gap: 15px;
}

.signup-form h2{
    margin-bottom: 10px;
    text-align: center;
    color: #1F2937;
}

.signup-form input{
    padding: 10px;
    font-size: 16px;
}

.signup-form button{
    padding: 10px;
    font-size: 16px;
    background-color: #1F2937;
    color: white;
    border: none;
    cursor: pointer;
}

.signup-form button:hover {
    background-color: #111827;
}

.login-link{
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
}

login-link a{
    color: 1F2937;
    text-decoration: none;
    font-weight: bold;
}

login-link a:hover{
    text-decoration: underline;
}

.return-home{
    text-align: center;
    margin: 0;
    font-size: 15px;
}

.signup-form input{
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 15px;
}

/*-----end signup page----- */

/*-----start login page-----*/

.login-form{
    background: rgba(255, 255, 255, 0.976);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.25);
    width:300px;
    display:flex;
    flex-direction: column;
    gap: 15px;
}

.login-form input{
    padding: 10px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 15px;
}

.login-form h2{
    margin-bottom: 10px;
    text-align: center;
    color: #1F2937;
}

.login-form button{
    padding: 10px;
    font-size: 16px;
    background-color: #1F2937;
    color: white;
    border: none;
    cursor: pointer;
}

.signup-link{
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
}

signup-link a{
    color: 1F2937;
    text-decoration: none;
    font-weight: bold;
}

signup-link a:hover{
    text-decoration: underline;
}

/*-----end login page-----*/

/*-----start homepage-----*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1F2937;
    padding: 5px 5%;
    position: sticky;
}

.nav-left, .nav-right{
    display: flex;
    align-items: center;
}

.nav-left h1{
    color: white;
}

.nav-right{
    gap: 10px;
}

.login-button, .signup-button{
    color: white;
    font-size: 16px;
    padding: 6px 14px;
    border-radius: 8px;
    margin-left: 8px;
    cursor: pointer;
}

.search-box{
    background: #efefef;
    width: 350px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border-radius: 20px;
}

.search-box input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 14px;
}

.home-container{
    display: flex;
    height: calc(100vh - 60px);
    overflow: hidden;
}

.left-sidebar, .right-sidebar {
  background: #95a1af;
  flex-basis: 25%;
  height: 100%;

}

.main-content{
    flex-basis: 50%;
    padding: 20px;
    overflow-y: auto;
    background-color: #ebe9e9;
}

.feed-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post {
    background: white;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
}

.create-post {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 20px;
}

.create-post-btn {
  background-color: #1F2937;
  color: white;
  font-size: 16px;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.create-post-btn i {
  font-size: 18px;
}

.popup-form {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.popup-content {
  background: white;
  padding: 16px;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
}

#post-content {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  resize: none;
  margin-bottom: 12px;
  box-sizing: border-box;
}

#create-post-form button {
  background-color: #1F2937;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.logout-button{
    display: none;
    color: white;
    font-size: 16px;
    padding: 6px 14px;
    border-radius: 8px;
    margin-left: 8px;
    cursor: pointer;
}

.welcomeMsgCont{
    flex: 1;
    text-align: center;
    margin-top: 50px;
}

.ghost-icon{
    color: white;
    margin-right: 10px;
    font-size: 30px;
}
